<h2>Add New Book</h2>

<!-- {{"Valid : " +myForms.valid}}
{{"Invalid : " +myForms.invalid}} -->


<table>
  <tr>

    <td>Pristine</td>
    <td>{{bookTitle.pristine}}</td>

  </tr>
  <tr>

    <td>Dirty</td>
    <td>{{bookTitle.dirty}}</td>

  </tr>

  <tr>

    <td>Touched</td>
    <td>{{bookTitle.touched}}</td>

  </tr>

  <tr>

    <td>Status</td>
    <td>{{bookTitle.status}}</td>

  </tr>

  <tr>

    <td>Error</td>
    <td>{{bookTitle.errors | json}}</td>

  </tr>
</table>
<form #myForms = "ngForm" (ngSubmit) = "saveBook()" class="add-book-form">
    <p>
        <mat-form-field appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput name="title" placeholder="Title"  [(ngModel)] = "model.title" type="text" required minlength="10" #bookTitle = "ngModel">
          <mat-icon matSuffix>title</mat-icon>
          <mat-hint *ngIf = "bookTitle.invalid && bookTitle.touched">
            <span *ngIf="bookTitle.errors?.['required']">
              Please Enter the Book Title
            </span>
            <span *ngIf="bookTitle.errors?.['minlength']">
              Minlength is 10
            </span>       
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Author</mat-label>
          <input matInput placeholder="Author" name="author" [(ngModel)] = "model.author" type="text" required #bookAuthor = "ngModel">
          <mat-icon matSuffix>person</mat-icon>
          <mat-hint *ngIf = "bookAuthor.invalid && bookAuthor.touched">Please Enter the Author</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Pages</mat-label>
          <input matInput name="pages" [(ngModel)] = "model.totalPages" placeholder="Pages" type="number" max = "1000" min = "10" #nop = "ngModel">
          <mat-icon matSuffix>123</mat-icon>
          <mat-hint [hidden] = "nop.valid">Valid length is 10 to 1000</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Price</mat-label>
          <mat-select name="price" [(ngModel)] = "model.price.value" placeholder="Price" type="number">
            @for (price of prices; track price) {
              <mat-option [value]="price.value">{{price.viewValue}}</mat-option>
            }
        
          </mat-select>
          <mat-icon matSuffix>attach_money</mat-icon>
        </mat-form-field>
      </p>

      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" ngModel name="publishedOn">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-slide-toggle class ="toggle" [(ngModel)] = "model.isPublished" name = "isPublished" >Is Book Published</mat-slide-toggle>
    <button type="submit" [disabled] = "myForms.invalid" mat-raised-button color="primary">Save</button>
</form>

<h2>{{myForms.value | json}}</h2>